<div class="body_wrapper">
  <header class="header_area">
      <nav class="navbar navbar-expand-lg menu_one support_menu">
          <div class="container">
              <a class="navbar-brand" href="#"><img src="../assets/images/logo2.png" srcset="img/logo2x.png 2x" alt="logo"></a>
              <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="menu_toggle">
                      <span class="hamburger">
                          <span></span>
                          <span></span>
                          <span></span>
                      </span>
                      <span class="hamburger-cross">
                          <span></span>
                          <span></span>
                      </span>
                  </span>
              </button>
              <div class="d-flex">
                <div class="alter_nav">
                  <ul class="navbar-nav search_cart menu">
                      <li class="nav-item search"><a class="nav-link search-btn" href="javascript:void(0);"><i class="ti-search"></i></a></li>
                      <li class="nav-item shpping-cart dropdown submenu">
                          <a class="cart-btn nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedTimeZone}}</a>
                          <ul class="dropdown-menu">
                              <li *ngFor="let zone of timeZones" class="cart-single-item clearfix">
                                  <div class="cart-content text-left">
                                      <p class="cart-title"><a (click)="zoneChanged(zone)">{{zone?.name}}</a></p>
                                  </div>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
              <div class="alter_nav">
                <ul class="navbar-nav search_cart menu">
                    <li class="nav-item search"><a class="nav-link search-btn" href="javascript:void(0);"><i class="ti-search"></i></a></li>
                    <li class="nav-item shpping-cart dropdown submenu">
                        <a class="cart-btn nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedLanguage}}</a>
                        <ul class="dropdown-menu">
                          <li *ngFor="let lan of languages" class="cart-single-item clearfix">
                              <div class="cart-content text-left">
                                  <p class="cart-title"><a (click)="lanChanged(lan)">{{lan}}</a></p>
                              </div>
                          </li>
                        </ul>
                    </li>
                </ul>
              </div>
            </div>
        </div>
      </nav>
  </header>

  <router-outlet></router-outlet>

</div>