<section class="support_integration_area">
    <div class="container">
        <div class="sec_title text-center mb_70 wow fadeInUp" data-wow-delay="0.3s">
            <h2 class="f_p f_size_30 l_height50 f_600 t_color3">{{languageData['bookNew']}}</h2>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-2 col-sm-12">
                <img class="integration_img" src="../../../assets/images/tree.png" alt="">
            </div>
            <div class="col-lg-4 col-md-10 col-sm-12">
                <div class="row">
                    <form action="" class="row no-marg" [formGroup]="bookingForm" (submit)="createNewMeeting()">
                        <div class="form-wrapper">
                            <mat-form-field class="d-block" appearance="legacy">
                                <mat-label>{{languageData['fullName']}}</mat-label>
                                <input matInput placeholder="{{languageData['enterName']}}" formControlName="name">
                            </mat-form-field>
                            <mat-form-field class="d-block" appearance="legacy" color="basic">
                                <mat-label>{{languageData['meetingDate']}}</mat-label>
                                <input matInput [min]="currentDate" [matDatepicker]="picker" placeholder="{{languageData['chooseDate']}}" formControlName="date">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <div class="booking-time">
                                <div class="time-wrappers">
                                    <span class="date-label">{{languageData['startTime']}}</span>
                                    <div class="date-form-elements">
                                        <mat-form-field class="d-block" appearance="legacy" color="basic">
                                            <input type="time" matInput formControlName="category" formControlName="startTime">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="time-wrappers">
                                    <span class="date-label">{{languageData['endTime']}}</span>
                                    <div class="date-form-elements">
                                        <mat-form-field class="d-block" appearance="legacy" color="basic">
                                            <input type="time" matInput formControlName="endTime">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="new-appointment">{{languageData['schedule']}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>