<section class="support_help_area sec_pad">
    <div class="container">
        <h2 class="f_p f_size_30 l_height50 f_600 t_color text-center wow fadeInUp mb_60">{{languageData['allMeetings']}}</h2>
        <div class="d-flex">
            <div class="support_item" *ngFor="let booking of allBookings">
                <img src="../../../assets/images/ticket-support.png" alt="">
                <h4>{{languageData['with']}}: <span class="f_700">{{booking?.name}}</span></h4>
                <p class="f_size_18 l_height30 wow">{{languageData['when']}}: <span class="f_700">{{booking?.date | date: 'MMM d, y'}}, {{booking?.startTime}}</span> {{languageData['to']}} <span class="f_700">{{booking?.endTime}}</span></p>
            </div>
        </div>
    </div>
</section>
